body{
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: honeydew;
	color: black;
}
header{
	background-color: seagreen;
	color: white;
	text-align: center;
	padding: 25px;
}
header h1{
	margin: 0;
}
nav{
	background-color:polegreen;
	text-align: center;
	padding: 15px;
}
nav a{
	color: seagreen;
	text-decoration: none;
	margin: 0 15px;
	front-weigth:bold;
}
.detalle{
	width: 90%;
	margin: 30 px auto;
	text-align: center;
}
.detalle h2 {
	color: seagreen;
	front-size:30px;
}
.imagen-chocolate{
	background-color: white ;
	padding: 20px;
	border-radius: 10px;
	width: 70%;
	margin: 25px auto;
}
.imagen-chocolate img{
	width: 100%;
	max-width: 600px;
	height:  auto;
	border-radius: 10px;
}
.ingredientes{
	background-color: white;
	width: 70%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
}
.ingredientes h3{
	color: seagreen;
}
.ingredientes ul{
	text-align: left;
	line-height: 2;
	width: 250px;
	margin: auto;
}
.precio{
	background-color: white;
	width: 70%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
}
.precio h3{
	color: seagreen;
}
.precio p {
	color: seagreen;
	front-size: 25px;
	front-weigth: bold;
}
.boton{
	background-color: seagreen;
	color: white;
	padding:10px 20px;
	border-radius: 5px;
	text-decoration: none;
}
.boton:hover{
	background-color: darkgreen;
}
footer{
	background-color: seagreen;
	color: white;
	text-align: center;
	padding: 15px;
    margin-top: 30px;
}
@media (max-width: 600px){
	.imagen-chocolate
	.ingredientes
	.precio{
		width: 90%;
	}
}
body{
	margin: 0;
	font-family:Arial, sans-serif;
	background-color: honeydew;
	color: black;
}


















