css
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: honeydew;
    color: #333;
}
header {
    background-color: #176b4d;
    color: white;
    text-align: center;
    padding: 25px;
}
header h1 {
    margin: 0;
}
nav {
    background-color: palegreen;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #176b4d;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.bienvenida {
    text-align: center;
    padding: 30px;
}

.bienvenida h2 {
    color: #176b4d;
}
.titulo {
    text-align: center;
    color: #176b4d;
}

/* CATÁLOGO */

.catalogo {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* TARJETAS */

.producto {
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    overflow: visible;
}

/* IMÁGENES */

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

/* EFECTO AL PASAR EL MOUSE */

.producto img:hover {
    transform: scale(1.08);
}
.producto h3 {
    color: #176b4d;
}
.precio {
    color: #176b4d;
    font-size: 20px;
    font-weight: bold;
}
button,
.boton {
    background-color: #176b4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover,
.boton:hover {
    background-color: #0d3f2e;
}

/* SOBRE NOSOTROS */

.nosotros {
    background-color: palegreen;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

/* CONTACTO */

.contacto {
    text-align: center;
    padding: 30px;
}

footer {
    background-color: #176b4d;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 800px) {
    .catalogo {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .catalogo {
        grid-template-columns: 1fr;
    }
    nav a {
        display: block;
        margin: 10px;
    }
}



